.wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
}

.left-wrapper {
    display: flex;
    width: 80%;
    padding: 1rem;
}

.right-wrapper {
    display: flex;
    justify-content: center;
    padding: 1rem;
}